extends layout.pug

block content
    div.content__wrap
        form.form__st(method="POST" enctype="multipart/form-data")
            if errorMessage
                h3.error__message=errorMessage
                div.garbage__box__l
            div.avatar__box
                if user.avatarUrl
                    if user.avatarUrl.includes("githubuser")
                        img.avatar__img(src=user.avatarUrl, alt="avatar")
                    else
                        img.avatar__img(src="/"+user.avatarUrl, alt="avatar")
                else 
                    img.avatar__img(src="/uploads/imgs/profile-icon.png", alt="avatar")
                label(for="avatar") Edit 
                    i.fa-solid.fa-pen-to-square
                input(type="file" id="avatar" name="avatar" accept="image/*")
            input(name="name" type="text" placeholder="Name" value=user.name)
            div.garbage__box__l
            input(name="email" type="email" placeholder="Email" value=user.email)
            div.garbage__box__l
            input(name="username" type="text" placeholder="Username" value=user.username)
            div.garbage__box__l
            input(name="location" type="text" placeholder="Location" value=user.location)
            div.garbage__box__l
            input(type="submit", value="Update Profile")
            if !user.githubLogin
                div.guide__anchor
                    h1
                        a(href="change-password") Change Password &rarr;