extends layout.pug

block content 
    video(src="../"+video.fileUrl controls=true) 
    div 
        p=video.description
        small=video.createdAt
    div 
        small  Uploaded by 
            a(href=`/users/${video.owner._id}`)=video.owner.name
    if user
        if String(video.owner._id) === String(user._id)
            a(href=`${video.id}/edit`) Edit Video &rarr;
            br
            a(href=`${video.id}/delete`) Delete Video &rarr;