extends layout.pug

block content 
    div.content__wrap
        div#videoContainer
            video#watch__video(src="../"+video.fileUrl controls=false) 
            div#videoControls
                div#controlsTop
                    input#timeLine(type="range", name="", step="0.1", min="0", value="0" )
                div#controlsBottom
                    div#controlsLeft
                        button#play
                            i.bi.bi-play-fill
                        button#mute
                            i.bi.bi-volume-up-fill
                        input#volume(type="range", name="", step="0.1", min="0", max="1", value="0.5")
                        div#timeWrap
                            span#currentTime 00:00
                            span  / 
                            span#totalTime 00:00
                    div#controlsRight
                        button#fullScreen
                            i.bi.bi-fullscreen
        div.watch__info
            ul#video__hashtags.video__subTxt
                each hashtag in video.hashtags
                    li=hashtag
            div.garbage__box__l
            h1.video__mainTxt=video.title
            div.garbage__box__s
            p.video__subTxt=video.description
            div.garbage__box__s
            p.video__subTxt=video.createdAt
            div.garbage__box__s
            div.video__owner
                div.owner__info
                    a.channel__anchor(href=`/users/${video.owner._id}`) 
                        if video.owner.avatarUrl
                            if video.owner.avatarUrl.includes("githubuser")
                                img.avatar__img(src=video.owner.avatarUrl, alt="avatar")
                            else
                                img.avatar__img(src="/"+video.owner.avatarUrl, alt="avatar")
                        else
                            div.none__avatar
                                i.fa-solid.fa-user
                    a.channel__anchor(href=`/users/${video.owner._id}`)=video.owner.name
                div.owner__subscription
                    form(action="" method="")
                        button.subscription__btn 구독
                        button.subscription__btn 알림
        if user
            if String(video.owner._id) === String(user._id)
                div.watch__edit
                    a(href=`${video.id}/edit`) Edit Video &rarr;
                    a(href=`${video.id}/delete`) Delete Video &rarr;
block scripts
    script(src="/assets/js/videoPlayer.js") 