extends layout.pug

block content 
    div.content__wrap
        div#videoContainer(data-id = video._id)
            video#watch__video(src="../"+video.fileUrl controls=false) 
            div#videoControls
                div#controlsTop
                    input#timeLine(type="range", name="", step="0.1", min="0", value="0" )
                div#controlsBottom
                    div#controlsLeft
                        button#play
                            i.bi.bi-play-fill
                        button#mute
                            i.bi.bi-volume-up-fill
                        input#volume(type="range", name="", step="0.1", min="0", max="1", value="0.5")
                        div#timeWrap
                            span#currentTime 00:00
                            span  / 
                            span#totalTime 00:00
                    div#controlsRight
                        button#fullScreen
                            i.bi.bi-fullscreen
        div.watch__info
            ul#video__hashtags.video__subTxt
                each hashtag in video.hashtags
                    li=hashtag
            div.garbage__box__l
            h1.video__mainTxt=video.title
            div.garbage__box__s
            p.video__subTxt=video.description
            div.garbage__box__s
            p.video__subTxt=video.createdAt
            div.garbage__box__s
            div.video__owner
                div.owner__info
                    a.channel__anchor(href=`/users/${video.owner._id}`) 
                        if video.owner.avatarUrl
                            if video.owner.avatarUrl.includes("githubuser")
                                img.avatar__img(src=video.owner.avatarUrl, alt="avatar")
                            else
                                img.avatar__img(src="/"+video.owner.avatarUrl, alt="avatar")
                        else
                            div.none__avatar
                                i.fa-solid.fa-user
                    a.channel__anchor(href=`/users/${video.owner._id}`)=video.owner.name
                div.owner__subscription
                    form(action="" method="")
                        button.yt__btn 구독
                        button.yt__btn 알림
        if user
            if String(video.owner._id) === String(user._id)
                div.watch__edit
                    a(href=`${video.id}/edit`) Edit Video
                    a(href=`${video.id}/delete`) Delete Video
        if loggedIn
            div.video__add-comments
                form.comments__form#commentForm
                    div.comment__create
                        if user.avatarUrl
                            if user.avatarUrl.includes("githubuser")
                                img.user__profile(src=user.avatarUrl, alt="Profile")
                            else
                                img.user__profile(src="/"+user.avatarUrl, alt="Profile")
                        else
                            div.user-none__profile
                                i.fa-solid.fa-user
                        textarea(placeholder="댓글 추가...")
                    div.comment__btn
                        button(type="button" style="background-color: red; border:1px solid red; color:#ffffff").yt__btn#clearBtn 취소
                        button(type="submit").yt__btn#addBtn 댓글
        div.video__comments
            ul
                each comment in video.comment.reverse() 
                    li.video__comment(data-id = comment._id)
                        a(href="/users/"+String(comment.owner))
                            if comment.avatarUrl
                                if comment.avatarUrl.includes("githubuser")
                                    img.user__profile(src=comment.avatarUrl, alt="Profile")
                                else
                                    img.user__profile(src="/"+comment.avatarUrl, alt="Profile")
                            else
                                div.user-none__profile
                                    i.fa-solid.fa-user
                        div.comment__wrap
                            div.comment__info
                                span#comment__user=comment.name
                                span.video__subTxt#comment__date= comment.createdAt
                            p#comment__text= comment.text
                                if user
                                    if String(comment.owner) === String(user._id)
                                        span#deleteComment
                                            i.bi.bi-x-lg
                else 
                    li#noComment 작성된 댓글이 없습니다.
block scripts
    script(src="/assets/js/videoPlayer.js") 
    if loggedIn
        script(src="/assets/js/commentSection.js") 